<div class="font-hdr-28">Billing</div> 
  <div class="font-12-20-60">Your licence</div> 
  <div>
    <span class="font-20">You are currently running a&nbsp;</span> 
    <span  class="font-20 gunmetal">Full Trial License</span>
  </div> 
  <div class="trialExp">
    <span class="font-12-20-60">Your trial licence will expire on&nbsp;</span> 
    <span class="font-12-20-60 no-opacity">July 21st, 2018</span>
  </div>
  <div>
  <img src="assets/upgrade_center.png">
  </div>
<div class="bottom-border"></div>