.primary-grid {
  display: grid;
  grid-template-columns: 435px auto;
  &.all-grid { 
    grid-template-columns: auto;
  }  
  grid-template-rows: auto;
  .primary-settings-col {
    grid-column-start: 1;
    grid-column-end: 1;
    background: #eef2f5;
  }
  .primary-billing-col {
    grid-column-start: 2;
    grid-column-end: 2;
    &.all-grid {
      grid-column-start: 1 !important;
      grid-column-end: 1 !important;
    }
  }
}
.right-side {
  background: #eef2f5;
  padding: 54px 20px;
  position: relative;
  .upgrade-menu-btn {
    position: absolute;
    top: 15px;
    right: 20px;
    background-image: url("../../assets/upgrade_top.png");
    width: 90px;
    height: 28px;
  }
  .settings-menu-btn {
    position: absolute;
    top: 16px;
    right: 130px;
    color: #fff;
    font-family: Helvetica;
    background-image: linear-gradient(to right, #8c38fd, #49aaff );
    line-height: 20px;
    font-size: 13px;
    padding: 2px 10px;
    border-radius: 3px;
    cursor: pointer;
  }
  .billing-main-container {
    background: #fff;
    border-radius: 3px;
  }
  .left-img {
    padding-top: 60px;
    width: 140px;
    height: 140px;
  }
  .col-2 {
    display: table-cell;
    height: auto;
    float: none;
    > img {
      position:absolute;
      left: 50%;
      transform: translate(-50%,0);
    }
  }
  .col-4.plan {
    display: table-cell;
      height: auto;
      float: none;
      > img {
        position:absolute;
        width: 345px;
        left: 20px;
        bottom: 20px;
        cursor: pointer;
      }
  }
  
  .container-fluid { 
    width: 100vw; 
    &.all-grid {
      width: auto !important;
    }
  } 
}



