<div class="font-hdr-28">Pricing</div>
<div>
  <div class="period-container">
      <div class="period-value" [ngClass]="{'selected': period === 'year'}"  (click)="setPeriod('year')">Yearly</div>
      <div class="font-12-50">SAVE 32%</div>
  </div>
  <div class="period-container">
      <div class="period-value" [ngClass]="{'selected': period === 'twoYears'}" (click)="setPeriod('twoYears')">Two Yearly</div>
      <div class="font-12-50">SAVE 32%</div>
  </div>
  <div class="period-container">
    <div class="period-value" [ngClass]="{'selected': period === 'month'}" (click)="setPeriod('month')">Monthly</div>
    <div class="font-12-50">&nbsp;</div>
  </div>
</div>     
<div class="plan">
  <div class="plan-image-container">
    <img class="plan-img" 
      [ngClass]="{'selected': planDescription === 'basic'}" 
      [src]="planImageSrc('basic')"  
      (click)="setPlanDescription('basic', {'month':11, 'year':9 , 'twoYears':6 })"
    >    
  </div>
  <div class="plan-image-container">
   <img class="plan-img" 
    [ngClass]="{'selected': planDescription === 'standart'}" 
    [src]="planImageSrc('standart')"  
    (click)="setPlanDescription('standart', {'month':35, 'year':29 , 'twoYears':19 })"
   > 
  </div> 
</div>
  <div class="plan">
    <div class="plan-image-container">
      <img class="plan-img" 
       [ngClass]="{'selected': planDescription === 'pro'}" 
       [src]="planImageSrc('pro')"  
       (click)="setPlanDescription('pro', {'month':83, 'year':69 , 'twoYears':45 })"
      >    
    </div>
    <div class="plan-image-container">
      <img 
       class="plan-img" 
       [ngClass]="{'selected': planDescription === 'enterprise'}" 
       [src]="planImageSrc('enterprise')"   
       (click)="setPlanDescription('enterprise', {'month':119, 'year':99 , 'twoYears':65 })"
      > 
    </div> 
  </div>
  
<div class="bottom-border"></div>
