/* You can add global styles to this file, and also import other style files */
* {
  //  outline: 1px dashed red;  
}
.font-hdr-28 {
    color: #475962;
    font-size: 28px; 
    font-family: Helvetica;
    padding: 60px 0 30px 0; 
  }
  .font-12-20-60 {
    font-size: 12px;
    font-family: Helvetica;
    line-height: 20px;    
    color: #666b77;
    opacity: 0.6;
  }
  .font-20 {
    font-family: Helvetica;
    font-size: 20px;
    color:#666b77;
    &.bold {
      font-weight: bold;
    }
  }
  .bottom-border {
    width: 390px;
    height: 1px;
    background: #d0d7dc;
    border-radius: 3px;  
  }